@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "bootstrap/scss/bootstrap";


div{
  border: red 1px solid;
}
.delete-button-background {background-color:#e74f4f;}
.delete-text-color {color:#000000;}