@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "bootstrap/scss/bootstrap";

.no-started{
  color:white;
  background-color: red;
}
.in-progress{
  color:white;
  background-color: blue;
}
.completed{
  color:white;
  background-color: green;
}
html{
  text-align: center;
}

.cuerpo { 
  background:darkgrey
}

div{
  border: red 0px solid;
}


.boton_delete{
  background: #fd1015;
  color: #f9fafb;
  margin-left: 80px;
}


.left {
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 57px;
  float: left;
  position: relative;
  width: 45%;
  border: steelblue solid 1px;
  height: auto;
}

.right {
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
  float: left;
  width: 45%;
  border: steelblue solid 1px;
  height: auto;
}

.content {
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;   
  padding-bottom: 10px;
  background-color: steelblue;
  width: 97%;
}

.boton_new_project{
  background:slateblue;
  color: #ffffff;
}

.boton_edit{
  background: #4a9737;
  color: #ffffff;
}

.boton_show{
  background: #ffc65a;
    color: #000000;
}

.name{
  margin-left: 35px;
}

.descripcion{
  margin-left: 80px;
}